{{- $registryImages := list }}
{{- range $serviceName, $service := .Values.services }}
{{- if and $service.image $service.image.source (has $service.image.source.type (list "semver" "lexical" "digest")) }}
{{- $registryImages = append $registryImages (dict "serviceName" $serviceName "image" $service.image "source" $service.image.source) }}
{{- end }}
{{- end }}
{{- if $registryImages }}
apiVersion: kargo.akuity.io/v1alpha1
kind: Warehouse
metadata:
  name: {{ include "herokucito-stage.warehouseName" . }}
spec:
  freightCreationPolicy: Automatic
  subscriptions:
    {{- range $entry := $registryImages }}
    - image:
        repoURL: {{ $entry.image.repository | quote }}
        {{- if eq $entry.source.type "semver" }}
        imageSelectionStrategy: SemVer
          {{- if $entry.source.constraint }}
        constraint: {{ $entry.source.constraint | quote }}
          {{- end }}
        strictSemvers: true

        {{- else if eq $entry.source.type "lexical" }}
        imageSelectionStrategy: Lexical
        allowTags: {{ $entry.source.pattern | replace "$branch" $.Values.variables.branch | quote }}
        strictSemvers: false # ignored by this selection strategy but argo diff complains
        {{- else if eq $entry.source.type "digest" }}
        imageSelectionStrategy: Digest
        constraint: {{ $entry.source.tag | quote }}
        strictSemvers: false # ignored by this selection strategy but argo diff complains
        {{- end }}
        discoveryLimit: 20
    {{- end }}
{{- end }}
