{{- $registryImages := list }}
{{- range $serviceName, $service := .Values.services }}
{{- if and $service.image $service.image.source (has $service.image.source.type (list "semver" "lexical" "digest")) }}
{{- $registryImages = append $registryImages (dict "serviceName" $serviceName "image" $service.image) }}
{{- end }}
{{- end }}
{{- if $registryImages }}
apiVersion: kargo.akuity.io/v1alpha1
kind: Warehouse
metadata:
  name: images
  namespace: {{ .Values.stage.project }}
spec:
  freightCreationPolicy: Automatic
  subscriptions:
    {{- range $entry := $registryImages }}
    - image:
        repoURL: {{ $entry.image.repository | quote }}
        {{- if eq $entry.image.source.type "semver" }}
        imageSelectionStrategy: SemVer
        {{- if $entry.image.source.constraint }}
        constraint: {{ $entry.image.source.constraint | quote }}
        {{- end }}
        strictSemvers: true
        {{- else if eq $entry.image.source.type "lexical" }}
        imageSelectionStrategy: Lexical
        allowTags: {{ $entry.image.source.pattern | quote }}
        {{- else if eq $entry.image.source.type "digest" }}
        imageSelectionStrategy: Digest
        constraint: {{ $entry.image.source.tag | quote }}
        {{- end }}
        discoveryLimit: 20
    {{- end }}
{{- end }}
