apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: "review-{{ .Values.branch }}"
  annotations:
    # TODO: Generate this randomly using the branch name
    kargo.akuity.io/color: violet
  finalizers:
    - kargo.akuity.io/finalizer
spec:
  promotionTemplate:
    spec:
      steps:
        - if: {{ `${{` }} ctx.targetFreight.origin.name == "review-{{ .Values.branch }}" {{ `}}` }}
          uses: argocd-update
          config:
            apps:
            - name: "review-{{ .Values.branch }}"
              namespace: banana-split
              sources:
              - repoURL: ghcr.io/ludat/charts
                chart: herokucito-web
                # updateTargetRevision: true
                helm:
                  images:
                  - key: image.tag
                    value: {{ `${{` }} imageFrom({{ .Values.imageUrl | quote }}).Tag {{ `}}` }}
        - if: {{ `${{` }} ctx.targetFreight.origin.name == "infra" {{ `}}` }}
          uses: argocd-update
          config:
            apps:
            - name: "review-{{ .Values.branch }}"
              namespace: banana-split
              sources:
              - repoURL: ghcr.io/ludat/charts
                chart: herokucito-web
                desiredRevision: {{ `${{` }} chartFrom("oci://ghcr.io/ludat/charts/herokucito-web").Version {{ `}}` }}
                updateTargetRevision: true
  requestedFreight:
    - origin:
        kind: Warehouse
        name: "review-{{ .Values.branch }}"
      sources:
        direct: true
        stages: []
    - origin:
        kind: Warehouse
        name: infra
      sources:
        direct: true
        stages: []
