apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ .Values.project | quote }}
  namespace: {{ .Values.project | quote }}
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  strategy:
    type: RollingSync
    rollingSync:
      steps:
        - maxUpdate: 1
  generators:
    - git:
        repoURL: "{{ include "herokucito-project.repoUrl" . }}"
        revision: herokucito
        files:
          - path: "**/rendered_values.yaml"
        values:
          slug: '{{ `{{` }} .path.path | trimPrefix "" | slugify 23 false {{ `}}` }}'
  template:
    metadata:
      # TODO(ludat) I'd like to remove this prefix now since it's not useful if the app is inside it's own namespace
      name: "{{ .Values.project }}-{{ `{{` }} .values.slug {{ `}}` }}"
      annotations:
        kargo.akuity.io/authorized-stage: "{{ .Values.project }}:{{ `{{` }} .values.slug {{ `}}` }}"

      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      project: {{ .Values.project | quote }}
      destination:
        server: https://kubernetes.default.svc
        namespace: {{ .Values.project | quote }}
      sources:
        - repoURL: "{{ include "herokucito-project.repoUrl" . }}"
          targetRevision: {{ .Values.infra.branch | quote }}
          ref: values
        - repoURL: {{ .Values.appChart.repoURL }}
          chart: {{ .Values.appChart.chart }}
          path: {{ .Values.appChart.path | quote }}
          targetRevision: {{ .Values.appChart.version | quote }}

          helm:
            valueFiles:
              - "$values/{{ `{{` }} .path.path {{ `}}` }}/rendered_values.yaml"
            # Platform config injected last (overrides user values)
            values: |
              {{- include "herokucito-project.platformConfig" . | nindent 14 }}

      syncPolicy:
        syncOptions:
          - ServerSideApply=true

  templatePatch: |
    {{ `{{-` }} if .production {{ `}}` }}
    metadata:
      annotations:
        argocd.argoproj.io/sync-options: Delete=confirm
    spec:
      syncPolicy:
        prune: false
        syncOptions:
          - Delete=false
    {{ `{{-` }} end {{ `}}` }}
