{{- if .Values.kargoChart.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ .Values.project }}-kargo
  namespace: {{ .Values.project | quote }}
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - git:
        repoURL: "{{ include "herokucito-project.repoUrl" . }}"
        revision: {{ .Values.infra.branch | quote }}
        files:
          - path: "**/rendered_values.yaml"
        values:
          slug: '{{ `{{` }} .path.path | trimPrefix "" | slugify 23 false {{ `}}` }}'
  template:
    metadata:
      name: "{{ .Values.project }}-{{ `{{` }} .values.slug {{ `}}` }}-kargo"
      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      project: {{ .Values.project | quote }}
      destination:
        server: https://kubernetes.default.svc
        namespace: {{ .Values.project | quote }}
      sources:
        - repoURL: "{{ include "herokucito-project.repoUrl" . }}"
          targetRevision: {{ .Values.infra.branch | quote }}
          ref: values
        - repoURL: {{ .Values.kargoChart.repoURL }}
          {{- if .Values.kargoChart.path }}
          path: {{ .Values.kargoChart.path | quote }}
          {{- else }}
          chart: {{ .Values.kargoChart.chart }}
          {{- end }}
          targetRevision: {{ .Values.kargoChart.version | quote }}
          helm:
            releaseName: {{ `{{` }} .values.slug {{ `}}` }}
            valueFiles:
              - "$values/{{ `{{` }} .path.path {{ `}}` }}/rendered_values.yaml"
            values: |
              stage:
                valuesRepo:
                  url: "{{ include "herokucito-project.repoUrl" . }}"
                  branch: {{ .Values.infra.branch | quote }}
                  path: "{{ `{{` }} .path.path {{ `}}` }}/rendered_values.yaml"
      syncPolicy:
        automated:
          prune: true
        syncOptions:
          - ServerSideApply=true
{{- end }}
