{{/*
{{- if .Values.reviews.enabled -}}
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: "{{ .Values.project }}-review"
  namespace: {{ .Values.project | quote }}
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - pullRequest:
        github:
          owner: {{ .Values.reviews.owner | quote }}
          repo: {{ .Values.reviews.name | quote }}
          # # Reference to a Secret containing an access token. (optional)
          tokenRef:
            secretName: github-token
            key: token
          # Labels is used to filter the PRs that you want to target. (optional)
          # labels:
          #   - preview
        requeueAfterSeconds: 1800
        values:
          slug: "{{ `{{` }} .branch | slugify 40 false {{ `}}` }}"
          id: "{{ `{{` }} .number {{ `}}` }}"
  template:
    metadata:
      name: "pr-meta-{{ `{{` }} .values.id {{ `}}` }}"
    spec:
      project: "{{ .Values.project }}"
      destination:
        server: https://kubernetes.default.svc
        namespace: "{{ .Values.project }}"
      sources:
        # - repoURL: ghcr.io/ludat/charts
        #   chart: herokucito-review
        #   targetRevision: 0.1.0
        - repoURL: https://github.com/ludat/herokucito.git
          path: charts/herokucito-review
          targetRevision: HEAD
          helm:
            valuesObject:
              branch: "{{ `{{` }} .values.slug {{ `}}` }}"
              imageUrl: "ghcr.io/ludat/banana-split"
              repoUrl: https://github.com/ludat/banana-split.git

      ignoreDifferences:
        - group: argoproj.io
          kind: Application
          # this is hardocded because the ignoring using jq doesn't quite work for arrays
          jsonPointers:
            - /spec/sources/1/targetRevision
            - /spec/sources/1/helm/parameters/1
          # jqPathExpressions:
          #   - .spec.sources[] | select(.chart == "herokucito-web") | .targetRevision
          #   - .spec.sources[] | select(.chart == "herokucito-web") | .helm.parameters[] | select(.name == "image.tag") | .value

      syncPolicy:
        automated:
          enabled: true
          prune: true
        syncOptions:
          - RespectIgnoreDifferences=true
{{- end -}}
*/}}
