{{- if .Values.reviews.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: "{{ .Values.project }}-review-app"
  namespace: {{ .Values.project | quote }}
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - pullRequest:
        github:
          owner: {{ .Values.reviews.github.owner | quote }}
          repo: {{ .Values.reviews.github.repo | quote }}
          tokenRef:
            secretName: {{ .Values.reviews.github.tokenSecretName | quote }}
            key: token
        requeueAfterSeconds: 300
        values:
          slug: "{{ `{{` }} .branch | slugify 23 false {{ `}}` }}"
  ignoreApplicationDifferences:
    - jqPathExpressions:
        - .spec.source.helm.parameters
    - jsonPointers:
        - /spec/syncPolicy
  template:
    metadata:
      name: "{{ .Values.project }}-review-{{ `{{` }} .values.slug {{ `}}` }}"
      finalizers:
        - resources-finalizer.argocd.argoproj.io
      annotations:
        kargo.akuity.io/authorized-stage: "{{ .Values.project }}:review-{{ `{{` }} .values.slug {{ `}}` }}"
    spec:
      project: {{ .Values.project | quote }}
      destination:
        server: https://kubernetes.default.svc
        namespace: {{ .Values.project | quote }}
      sources:
        - repoURL: {{ include "herokucito-project.repoUrl" . | quote }}
          targetRevision: {{ .Values.infra.branch | quote }}
          ref: values
        - repoURL: {{ .Values.appChart.repoURL | quote }}
          chart: {{ .Values.appChart.chart | quote }}
          path: {{ .Values.appChart.path | quote }}
          targetRevision: {{ .Values.appChart.version | quote }}
          helm:
            valueFiles:
              - "$values/{{ .Values.reviews.prValuesFile }}"
            values: |
              vars:
                slug: {{ `{{` }} .values.slug | quote {{ `}}` }}
                id: {{ `{{` }} .number | quote {{ `}}` }}
                author: {{ `{{` }} .author | quote {{ `}}` }}
                title: {{ `{{` }} .title | quote {{ `}}` }}
                branch: {{ `{{` }} .branch | quote {{ `}}` }}
                sha: {{ `{{` }} .head_sha | quote {{ `}}` }}
              {{- include "herokucito-project.platformConfig" . | nindent 14 }}

      ignoreDifferences:
        - group: argoproj.io
          kind: Application
          # this is hardocded because the ignoring using jq doesn't quite work for arrays
          jsonPointers:
            - /spec/sources/1/targetRevision
            - /spec/sources/1/helm/parameters
          # jqPathExpressions:
          #   - .spec.sources[] | select(.chart == "herokucito-web") | .targetRevision
          #   - .spec.sources[] | select(.chart == "herokucito-web") | .helm.parameters[] | select(.name == "image.tag") | .value
      syncPolicy:
        automated:
          enabled: true
          prune: true
        syncOptions:
          - ServerSideApply=true
          - RespectIgnoreDifferences=true
{{- end }}
