{{- if and .Values.reviews.enabled .Values.kargoChart.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: "{{ .Values.project }}-review-kargo"
  namespace: {{ .Values.project | quote }}
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - pullRequest:
        github:
          owner: {{ .Values.reviews.github.owner | quote }}
          repo: {{ .Values.reviews.github.repo | quote }}
          tokenRef:
            secretName: {{ .Values.reviews.github.tokenSecretName | quote }}
            key: token
        requeueAfterSeconds: 300
        values:
          slug: "{{ `{{` }} .branch | slugify 23 false {{ `}}` }}"
  template:
    metadata:
      name: "pr-{{ `{{` }} .values.slug {{ `}}` }}-kargo"
      finalizers:
        - resources-finalizer.argocd.argoproj.io


    spec:
      project: {{ .Values.project | quote }}
      destination:
        server: https://kubernetes.default.svc
        namespace: {{ .Values.project | quote }}
      sources:
        - repoURL: "{{ include "herokucito-project.repoUrl" . }}"
          targetRevision: {{ .Values.infra.branch | quote }}
          ref: values
        - repoURL: {{ .Values.kargoChart.repoURL }}
          chart: {{ .Values.kargoChart.chart }}
          path: {{ .Values.kargoChart.path | quote }}
          targetRevision: {{ .Values.kargoChart.version | quote }}
          helm:
            releaseName: "{{ `{{` }} .values.slug {{ `}}` }}"
            valueFiles:
              - "$values/{{ .Values.reviews.prValuesFile }}"
            values: |
              stage:
                promotion:
                  method: direct
                  warehouse: {{ `{{` }} .number {{ `}}` }}
                appChart:
                  repoURL: {{ .Values.appChart.repoURL }}
                  chart: {{ .Values.appChart.chart }}

      # ignoreDifferences:
      #   - group: argoproj.io
      #     kind: Application
      #     # this is hardocded because the ignoring using jq doesn't quite work for arrays
      #     jsonPointers:
      #       - /spec/sources/1/targetRevision
      #       - /spec/sources/1/helm/parameters/1
      #     # jqPathExpressions:
      #     #   - .spec.sources[] | select(.chart == "herokucito-web") | .targetRevision
      #     #   - .spec.sources[] | select(.chart == "herokucito-web") | .helm.parameters[] | select(.name == "image.tag") | .value
      syncPolicy:
        automated:
          enabled: true
          prune: true
        syncOptions:
          - ServerSideApply=true
          - RespectIgnoreDifferences=true
{{- end }}
